<<<<<<< HEAD

.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(C:\Users\weldtounesca12\Desktop\code\images/index.png);
	background-position: center;
	background-size: cover;
	position: absolute;
=======

.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(C:\Users\weldtounesca12\Desktop\code\images/index.png);
	background-position: center;
	background-size: cover;
	position: absolute;
>>>>>>> 1d84b7239bfc06e21a47f3fc0f9573ffdf489939
}