
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(C:\Users\weldtounesca12\Desktop\code\images/index.png);
	background-position: center;
	background-size: cover;
	position: absolute;
}